#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* WIFI_SSID = "YOUR_WIFI_SSID";
const char* WIFI_PASSWORD = "YOUR_WIFI_PASSWORD";

const char* HIVEMQ_BROKER = "YOUR_CLUSTER.hivemq.cloud";
const char* HIVEMQ_USER = "YOUR_HIVEMQ_USERNAME";
const char* HIVEMQ_PASS = "YOUR_HIVEMQ_PASS";

#endif